.animated-button1 {
    -fx-background-color:  #3D404B;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.animated-button1:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-animation: scale 0.5s linear infinite;
    -fx-background-color: rgba(128, 128, 128, 0);

}
.popup-button:hover {
    -fx-background-color: #ff1600;
}

.popup-button {
    -fx-background-color: rgba(147, 144, 144, 0.6);


}